@import url("../common/Base.css");

.vendor-application-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.vendor-application-back-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.user-info {
    margin: 30px;
}

.profile-picture {
    width: 30%;
    height: auto;
    margin: 20px;
    float: left;
}

.user-details {
    width: 60%;
    height: auto;
    margin: 10px;
    float: right;
}
p {
    margin-bottom: 20px;
    font-size: 20px;
}

.form-field {
    font-size: 20px;
}

.form-label {
    font-size: 20px;
}

.change-info {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.submit-info {
    margin-left: 20px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.cancel-info {
    margin-left: 20px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}