@import url("../common/Base.css");

.row div{
    display: inline-block;
    /* text-align: center; */
    margin: 0px;
    margin-right: 10px;
}

.order-details {
    width: 100%;
}


.order-pane{
    margin: 10px;
    /* width: 100%; */
    /* min-height: 220px; */
}

.order-view {
    margin: 30px;
    /* width: 70%; */
    min-height: 200px;
    /* height: auto; */
}

.order-panel{
    /* float: left; */
    height: 100vh;
    overflow-y: scroll;
}


.order-description {
    margin: 10px;
    float: left;
    width: 99%;
}

.order-description-details {
    margin: 10px;
    /* float: left; */
    width: 70%;
}

.product-details {
    margin: 20px;
    display: block;
}

.order-buttons {
    width: 25%;
    margin: 0px;
    /* margin: 40px; */
    float: right;
}

.order-panel-button {
    background: none;
    width: 99%;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}
.order-panel-button:active {
    border: none;
}

.order-back-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.order-back-button:active {
    border: none;
}

.ship-order-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.ship-order-button:active {
    border: none;
}

.refund-order-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.refund-order-button:active {
    border: none;
}

.delete-order-button {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

.delete-order-button:active {
    border: none;
}

.order-description {
    margin: 10px;
    float: left;
    /* width: calc(100% - 250px); */
}

.order-id {
    margin: 10px;
    float: left;
    /* width: 20%; */
    font-size: 18px;
    /* text-align: center; */
}

.product-id {
    margin: 10px;
    float: right;
    /* width: 20%; */
    font-size: 18px;
    text-align: left;
}

.seller-id {
    margin: 10px;
    float: left;
    /* width: 20%; */
    font-size: 18px;
    /* text-align: center; */
}

.buyer-id {
    margin: 10px;
    float: right;
    /* width: 20%; */
    font-size: 18px;
    /* text-align: center; */
}

.product-name {
    margin: 10px;
    float: left;
    /* width: 50%; */
    font-size: 24px;
    text-align: left;
}

.status {
    margin: 10px;
    float: center;
    /* width: 45%; */
    font-size: 18px;
    text-align: left;
}

.update-date {
    margin: 10px;
    float: right;
    /* width: 45%; */
    font-size: 18px;
    text-align: left;
}


