@import url("../common/Base.css");

.post-pane{
    margin: 50px;
    margin-top: 30px;
}

.post-image {
    margin-bottom: 50px;
    float: left;
    width: 30%;
    height: auto;
    min-width: 200px;
}

.post-column {
    margin: 0 20px;
    float: left;
    width: 65%;
}

.post-title {
    margin: 10px;
    float: left;
    width: calc(85% - 30px);
    font-size: 40px;
}

.rating-adjustment {
    width: calc(100% - 190px) !important;
}

.post-user {
    margin: 5px 20px;
    float: left;
    width: calc(85% - 30px);
}

.post-time {
    margin: 5px 20px;
    float: left;
    width: calc(85% - 30px);
}

.post-caption{
    margin: 10px 10px 30px 10px;
    float: left;
    width: calc(100% - 20px);
    font-size: 25px;
    text-align: justify;
}

.post-reacts{
    margin: 10px 10px 100px 10px;
    float: left;
}

.post-comments{
    margin: 10px 10px 100px 10px;
    float: right;
}