@import url("../common/Base.css");

.post_panel{
    float: left;
    width: 70%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.post_image {
    margin: 10px;
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.post_header {
    margin: 0 10px;
    float: left;
    width: calc(100% - 240px);
}

.post_title{
    float: left;
    text-align: center;
    font-size: 24px;
    height: 40px;
}

.rating_adjust{
    width: calc(100% - 170px);
}

.rating_image{
    float: right;
    text-align: center;
    margin: 15px 10px 10px 0px;
}

.post_caption{
    float: left;
    text-align: justify;
    max-width: calc(100% - 60px);
    margin: 10px 50px 0px 10px;
}

.post_reacts{
    float: left;
    margin: 10px 30px 10px 0px;
}

.post_comments{
    float: right;
    padding: 10px 30px 5px 0;
}

.react-image{
    float: left;
    margin: 10px 0 5px 10px;
}

.react-count{
    float: left;
    padding: 9px 0 5px 5px;
}

.caption-adjust{
    margin-bottom: 0px !important;
}