@import url("../common/Base.css");

.post-pane{
    margin: 50px;
    min-height: calc(100vh - 280px);
    min-width: 800px;
}

.post-image {
    margin: 0 30px 30px 0;
    float: left;
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    min-width: 200px;
    min-height: 200px;
}

.post-column {
    margin: 0 50px;
    float: left;
    width: calc(65% - 100px);
}

.post-title {
    margin: 10px;
    float: left;
    width: calc(85% - 30px);
    font-size: 40px;
}

.rating-adjustment {
    width: calc(100% - 190px) !important;
}

.post-description {
    margin: 10px 20px;
    float: left;
    width: calc(100% - 40px);
    font-size: 20px;
}

.post-header {
    margin: 10px 20px;
    float: left;
    width: calc(100% - 40px);
    font-size: 30px;
}

.post-user {
    margin: 5px 20px;
    float: left;
    width: calc(85% - 30px);
}

.post-time {
    margin: 5px 20px;
    float: left;
    width: calc(85% - 30px);
}

.post-caption{
    margin: 10px 10px 30px 10px;
    float: left;
    width: calc(100% - 20px);
    font-size: 25px;
    text-align: justify;
}

.post-ingredients{
    margin: 10px 10px 30px 10px;
    float: left;
    width: 35%;
    font-size: 25px;
}

.post-instructions{
    margin: 10px 10px 30px 10px;
    float: left;
    width: 60%;
    font-size: 25px;
}
.post-reacts{
    margin: 10px 10px 10px 10px;
    float: left;
}

.post-comments{
    padding: 10px 10px 10px 10px;
    float: right;
}

.post-button {
    float: right;
    margin: 20px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
}

ul{
    margin: 10px 0;
}

ol{
    margin: 10px 0;
}

.post-item {
    float: left;
    width: calc(100% - 40px);
}

.comment-button {
    border: none;
    background: none;
}

.comment-button:hover {
    color: #ED3369;
}
.comment-button:focus{
    outline: 0;
}

.comment-pane {
    float: center;
    width: 60%;
    padding: 10px 10px;
    margin: 0 20% !important;
    border-top: 1px solid grey;
}

