/* Engineer: Joseph Ng */

.account-info-bar {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c26096;
    width: 100%;
    color: white;
}

.account-type {
    float: left;
    padding: 10px 16px;
    font-size: 17px;
    font-weight: 600;
}

.credits {
    float: right;
    padding: 10px 16px;
    font-size: 17px;
    font-weight: 600;
}

.credits ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.credits ul li{
    float: left;
    padding: 14px 16px;
}

  
.credits a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}