@import url("../common/Fonts.css");

*{
    font-family: 'Big Shoulders Inline Text';
    font-size: 18px;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

table{
    width: 100%;
}

tr{
    padding: 5px 0;
    margin: -1px;
}

tr:hover{
    background: gray;
    
}

th{
    height: 50px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    background: red !important;
}

td{
    height: 35px;
}

li{
    line-height: 1.75;
    font-size: 20px;
}

p{
    margin: 10px;
}

a{
    color: black;
    font-size: 20px;
}

a:hover{
    color: #ED3369;
}

.container{
    margin-left: 10%;
    width: 80%;
    min-width: 800px; 
    min-height: calc(100vh - 142px);
    color: black;   
}

.form_input{
    float: left;
    margin: 5px;
    width: 100%;
}

.form_label{
    float: left;
    width: 150px;
}

.form_field{
    float: left;
    width: 35%;
    padding-right: calc(65%-200px);
}

.form_submit{
    margin: 20px 0;
}

textarea{
    height: 200px;
    width: 100%;
}

.row{
    width: 100%;
}

.panel_button {
    margin: 10px;
    padding: 15px;
    min-width: calc(100% - 20px);
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
    background: none;
}

.panel_button:active {
    border: none;
}

.update-form{
    float: left;
    width: 800px;
    margin: 20px;
}