/* Engineer: Joseph Ng */

.footer {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #501234;
    color: white;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    float: left;
    width: 100%;
}

.contact-us a, .email a {
    color: white;
}

.contact-us, .address, .email{
    float: left;
    width: 30%;
    font-size: 18px;
    font-weight: 600;
}