@import url("./Base.css");

/* ADAPTED FROM https://github.com/milespratt/bingmaps-react */

.maps__container {
    display: grid;
    /* grid-template-columns: minmax(320px, 1fr) 2fr; */
    /* grid-gap: 50px; */
    height: 100vh;
    /* width: 4000px; */
    /* width: 100%; */
    /* align-items: center;
    justify-content: center; */
    /* padding: 50px 50px; */
  }
  
  @media (max-width: 800px), (max-height: 600px) {
    .maps__container {
      /* grid-template-columns: 1fr;
      grid-template-rows: min-content calc(100% - 100px); */
      grid-template-areas:
        "header"
        "map";
      /* grid-gap: 0px;
      overflow: hidden;
      overflow-y: scroll;
      height: 100%;
      padding: 0; */
    }
    /* .map__card {
      grid-area: map;
      padding: 0px;
    } */
  }
  